Implement Below Modules
________________________

1) Show Employ
2) Search Employ
3) Show Employ Leave History
4) Show Employ Pending Leave History
5) Apply Leave
6) Approve/Deny

ApplyLeave
____________

Accept

empId, leaveStartDate, leaveEndDate, leaveReason, leaveType

for who is top level manager leaveStaus is APPROVED remaining PENDING

validations: 
____________

        -> LeaveStartDate cannot be yesterday
	-> LeaveEndDate cannot be yesterday
	-> LeaveStartDate cannot be greater than LeaveEndDate
	-> noOfDays must be greater than LeaveAvail

Once insert record in leave_history update the leaveBalance

