div.MainForm 
{
    background : none repeat scroll 0 0 #3366CC;
    border : 5px solid gray;
    color : white;
    font-family : "DejaVu Sans",Times,Serif;
    font-weight : bold;
    margin : 10px auto;
    padding : 10px;
   /* text-align : center;*/
    width : 400px;
}
p.title 
{
    color: #33CCFF;
    font-family: "DejaVu Sans";
    font-size: 60px;
    font-weight: bold;
}