drop database if exists oyo;
create database oyo;
use oyo;
Create Table Room
(
   RoomID varchar(10) primary key,
   Type varchar(10),
   Status ENUM('AVAILABLE','BOOKED') default 'AVAILABLE',
   CostPerDay INT
);

-- Type must be Single or Double 

Create Table Booking
(
  BookId varchar(10) primary key,
  RoomID varchar(10),
  CustName varchar(30),
  City varchar(30),
  BookDate Date,
  ChkInDate Date,
  ChkOutDate Date
);

Create Table Billing 
(
   BookID varchar(10),
   RoomID varchar(10),
   NoOfDays INT,
   BillAmt INT
);

AddRoom is first module to be done
RoomID to be generated automatically as R001,R002 etc...

Then Need to Do Room Booking 

At the time of roombooking, first show all the list of rooms avaiable in dropdown, 
and Once you fill all the details, then Recod to be inserted into Booking Table, and Status in Room Table status to be updated as BOOKED

At the time of billing, calculate no.of days stay as CheckOutDate-CheckinDate and multiply with CostPerDay and 
Insert into Billing Table, after that Room table Status to be updated as AVAILABLE
Footer